<div class="panel-body">
  <%= form_for @pin, html: {multipart: true} do |f| %>
    <% if @pin.errors.any? %>
      <div id="error_explanation">
  
        <% @pin.errors.full_messages.each do |message| %>
          <p class="alert alert-info"><%= message %></p>
        <% end %>

      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_field :description, class: "form-control" %>
    </div>

    <div lass="form-group">
      <%= f.label :image %><br>
      <%= f.file_field :image, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>