<%= render 'pages/home' unless user_signed_in? %>

<div class="right">
   <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>

<div id="pins" class="transitions-enabled">

<% @pins.each do |pin| %>

  <div class="box panel panel-default">
    <%= link_to image_tag(pin.image.url(:medium)), pin %>
    <div class="panel-body">

      <%= pin.description %><br/>
        
        <!-- change to user profile path later -->
      
        <%= link_to root_path do %>
          <% if pin.user.image_file_name %>
            <%= image_tag(pin.user.image.url(:thumb), id: 'profile_thumb')%>
          <% else %>
            <%= image_tag('gender_neutral.png', id: 'profile_thumb') %>
          <% end %>
        <% end %>
        
        <strong>
          <%= link_to "/users/#{pin.user.id}" do %>
            <%= pin.user.first_name if pin.user %>
          <% end %>
        </strong>

      <% if current_user && (pin.user == current_user) %>
        <div class="actions">
          <%= link_to edit_pin_path(pin) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
          <% end %>
          <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            Delete
          <% end %>
        </div><!-- actions -->
      <% end %>

    </div><!-- panel-body -->
  </div><!-- box panel panel-default -->

<% end %>
</div>
