<h3>Comments</h3>
<% commentable.comments.order("created_at DESC").each do |comment| %>
	<div class="well">
		<%= link_to "/users/#{comment.user.id}" do %>
	        <% if comment.user.image_file_name %>
	            <%= image_tag(comment.user.image.url(:thumb), id: 'profile_thumb')%>
	        <% else %>
	            <%= image_tag('gender_neutral.png', id: 'profile_thumb') %>
	        <% end %>
	        <strong>
                <%= comment.user.full_name if comment.user %>:
            </strong>
        <% end %>
		<%= comment.comment %>
	</div>
<% end %>