<div class="panel panel-default">
	<div class="panel-heading">
		<h1><%= @user.full_name %></h1>
	</div>

	<div class="panel-body">
		<% if @user.image_file_name %>
			<%= image_tag @user.image.url(:medium) %>
		<% else %>
		  	<%= image_tag('gender_neutral.png') %>
		<% end %>
	</div>

	<div class="panel-footer">
      <%= render  partial: "comments/comments", locals: {commentable: @user} %>
      <%= render  partial: "comments/form", locals: {commentable: @user} %>
    </div> 
</div>

